@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(180deg, #43634A 0%, #5AE578 72.92%, #56E776 72.93%, #13FF55 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-thead th:first-child {
  border-top-left-radius: 0.5rem;
}

.custom-thead th:last-child {
  border-top-right-radius: 0.5rem;
}


@tailwind base;
@tailwind components;
@tailwind utilities;